body{
  background-image: url(immagini/background.jpg);
  background-size: cover;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 30px;
  font-family: 'Kanit', sans-serif;
}

body>div{
  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

header{
  text-align: center;
  color: green;
}

img{
  height: 100px;
}

nav{
  text-align: center;
  background-color: green;
  margin-left: 35px;
  margin-right: 35px;
  border-radius: 2px;
  padding: 5px;
}

.selezioni>div{
  color: white;
  padding: 15px;
  margin-top: 20px;
  margin-left: 20px;
}

h2{
  display: inline;
}

#orange{
  width: 350px;
  height: 20px;
  background-color: orange;
  border-radius: 2px;
}

#green{
  width: 500px;
  height: 20px;
  background-color: green;
  border-radius: 2px;
}

#red{
  width: 150px;
  height: 20px;
  background-color: red;
  border-radius: 2px;
}
